@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300&display=swap");

.profile-mainPart .profile-icon {
  position: relative;
  border-radius: 50%;
  height: 13rem;
  width: 13rem;
  margin: -6.5rem 0px 0px 500px;
  object-fit: cover;
}

.profile-mainPart .cover-image {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  margin: 2px 0 0 15px;
  filter: brightness(85%);
}

.profile-name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 45px;
}

.profile-majorYear {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 25px;
  margin-top: -10px;
}

.profile-misc {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.profile-level {
    display: flex;
}

.profile-levelbar {
    margin-top: 10px;
}

.profile-friend-button {
  width: 300px;
}

.profile-mainPart label {
  width: 100%;
}
