@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300&display=swap");

.profile-mainPart {
  text-align: center;
}
.profile-mainPart .profile-icon {
  position: relative;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-top: -6rem;
  object-fit: cover;
}

.profile-mainPart .cover-image {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  filter: brightness(85%);
}

.profile-name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 45px;
}

.profile-majorYear {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 25px;
  margin-top: -10px;
}

.profile-misc {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  width: 50rem;
}

.profile-level {
    display: flex;
    margin-left:20rem;
}

.profile-level-user {
  display: flex;
  margin-left:20rem;
  justify-content: center;
}


.profile-levelbar {
    margin-top: 10px;
}

.profile-friend-button {
  margin-right: 2rem;
  width: 320px;
}

.profile-mainPart label {
  width: 100%;
}

.profile-task {
  text-align: left;
}
