@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,100&display=swap');

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #615f68;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.task-item__description {
  display: flex;
  /* flex-direction: column;
  align-items: flex-end;
  flex-flow: column-reverse; */
  /* justify-content: space-between; */
  /* flex: 1; */
  /* text-align: left; */
}

.task-item h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.task-item__rhs {
  margin-right: 10px;
  margin-bottom: -20px;
}

.time-taken {
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  margin-top: 0px;
  color: white;
}

.task-item__misc {
  display: flex;
  justify-content: flex-end;
}

.task-item__menu {
  margin-top: 6px;
}

@media (min-width: 580px) {
  .task-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .task-item__description h2 {
    font-size: 1.5rem;
  }
}
