.progressbar-container {
    height: 20px;
    background-color: #CCC;
    position: relative;
    border-radius: 7px;
    width: 10rem;
    margin-left: 25px;
    box-shadow: 1px 1px #888888;
}

.progress-bar {
    position: absolute;
    border-radius: 7px 0px 0px 7px;
    height: 100%;
    background-color: rgb(125, 44, 255);
    width: 50%;
}

.label {
    position: absolute;
    font-size: 12px;
    color:white;
    font-weight: bold;
    margin-left: 50%;
    margin-top: 2px;
}