@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap");

.frienditem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 1rem;
  margin: 1rem auto;
  background-color: #52525a;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.frienditem img {
  position: relative;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
}

.frienditem__description {
  display: flex;
  gap: 1rem; 
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: space-between;
  flex: 1;
  text-align: left;
}

.frienditem h2 {
  font-family: "Fira Sans", sans-serif;
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.frienditem_level {
  display: flex;
}

.frienditem h3 {
  margin: 0 1rem;
}

@media (min-width: 580px) {
  .frienditem__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .frienditem__description h2 {
    font-size: 20px;
  }

  .frienditem__description h3 {
    font-size: 20px;
    color: white;
    margin-right: 20px;
  }
}
