.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a892ee;
  margin: 2rem auto;
  padding: 0.5rem;
  width: 50rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.timer button {
  margin: 0px 10px;
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.timer button:hover,
.timer button:active {
  background-color: #510674;
  border-color: #510674;
}

